<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="stylesheet" type="text/css" href="css/all.min.css">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C500%2C700%7CRaleway%3A500%2C600%7CRoboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto%20Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&subset=latin%2Clatin-ext&display=swap"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <meta name="robots" content="noindex,nofollow">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="alternate" type="application/rss+xml" title="Maganizer WordPress Theme &raquo; Feed"
          href="https://preview.spraythemes.com/maganizer/feed/">
    <link rel="alternate" type="application/rss+xml" title="Maganizer WordPress Theme &raquo; Comments Feed"
          href="https://preview.spraythemes.com/maganizer/comments/feed/">
    <link rel="preload" id="wp-block-library-css"
          href="https://preview.spraythemes.com/maganizer/wp-includes/css/dist/block-library/style.min.css" as="style"
          onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="wp-block-library-theme-css"
          href="https://preview.spraythemes.com/maganizer/wp-includes/css/dist/block-library/theme.min.css" as="style"
          onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="wc-block-vendors-style-css"
          href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style-696a07b27d826107c883ee13c3bf0f1d.css"
          as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="wc-block-style-css"
          href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style-619198ef5e47ed70e638b84c92e064f4.css"
          as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="contact-form-7-css"
          href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/contact-form-7/includes/css/styles-ec4e57bff0e835ef28b4c89cb1717afb.css"
          as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="woocommerce-layout-css"
          href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/woocommerce/assets/css/woocommerce-layout-cc005ffd959c6bb1743989183a963496.css"
          as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="woocommerce-smallscreen-css"
          href="https://preview.spraythemes.com/maganizer/wp-content/cache/busting/1/maganizer/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen-5.0.0.css"
          as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css"
          media="only screen and (max-width: 768px)">
    <link data-minify="1" rel="preload" id="woocommerce-general-css"
          href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/woocommerce/assets/css/woocommerce-cc40354525cf8823ccc9a7aae64db877.css"
          as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <style id="woocommerce-inline-inline-css" type="text/css">
        .woocommerce form .form-row .required {
            visibility: visible
        }
    </style>
    <link data-minify="1" rel="preload" id="maganizer-style-css"
          href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/themes/maganizer/style-bcc325fd19686fb7147f5ca545eac7b6.css"
          as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="bootstrap-css"
          href="https://preview.spraythemes.com/maganizer/wp-content/themes/maganizer/css/bootstrap-grid.min.css"
          as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="owl-carousel-css"
          href="https://preview.spraythemes.com/maganizer/wp-content/themes/maganizer/css/owl.carousel.min.css" as="style"
          onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="font-awesome-four-css"
          href="https://preview.spraythemes.com/maganizer/wp-content/themes/maganizer/css/all.min.css" as="style"
          onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="maganizer-blocks-main-style-css"
          href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/themes/maganizer/css/wps_style-c4183db079b4e89a7a8d7a285e67dd35.css"
          as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <script type="text/javascript" src="js/jquery.min-3.5.1.js" id="jquery-core-js"></script>
    <link rel="https://api.w.org/" href="https://preview.spraythemes.com/maganizer/wp-json/">
    <link rel="alternate" type="application/json"
          href="https://preview.spraythemes.com/maganizer/wp-json/wp/v2/pages/3571">
    <link rel="EditURI" type="application/rsd+xml" title="RSD"
          href="https://preview.spraythemes.com/maganizer/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="https://preview.spraythemes.com/maganizer/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 5.6.2">
    <meta name="generator" content="WooCommerce 5.0.0">
    <link rel="canonical" href="https://preview.spraythemes.com/maganizer/magazine-4/">
    <link rel="shortlink" href="https://preview.spraythemes.com/maganizer/?p=3571">
    <style type="text/css">
        .ae_data .elementor-editor-element-setting {
            display: none !important
        }
    </style>
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important
            }
        </style>
    </noscript>
    <link rel="icon" href="images/cropped-01-progress-32x32.gif" sizes="32x32">
    <link rel="icon" href="images/cropped-01-progress-192x192.gif" sizes="192x192">
    <link rel="apple-touch-icon" href="images/cropped-01-progress-180x180.gif">
    <meta name="msapplication-TileImage"
          content="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/07/cropped-01-progress-270x270.gif">
    <style id="rocket-critical-css">:root{--wp-admin-theme-color:#007cba;--wp-admin-theme-color-darker-10:#006ba1;--wp-admin-theme-color-darker-20:#005a87}:root{--wp-admin-theme-color:#007cba;--wp-admin-theme-color-darker-10:#006ba1;--wp-admin-theme-color-darker-20:#005a87}.screen-reader-text{clip:rect(1px,1px,1px,1px);height:1px;overflow:hidden;position:absolute!important;width:1px;word-wrap:normal!important}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}footer,header,section{display:block}a{background-color:transparent}h2{font-size:1.95em;line-height:1.4}img{border:0}input{color:inherit;font:inherit;margin:0}input[type="submit"]{-webkit-appearance:button}input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}@@-ms-viewport{width:device-width}html{box-sizing:border-box;-ms-overflow-style:scrollbar}*,::after,::before{box-sizing:inherit}.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@@media (min-width:576px){.container{max-width:540px}}@@media (min-width:768px){.container{max-width:720px}}@@media (min-width:992px){.container{max-width:960px}}@@media (min-width:1200px){.container{max-width:1170px;padding:0}}.owl-carousel{position:relative}.owl-carousel{display:none;width:100%;z-index:1}.fab,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}.fa-bars:before{content:"\f0c9"}.fa-facebook-f:before{content:"\f39e"}.fa-instagram:before{content:"\f16d"}.fa-times:before{content:"\f00d"}.fa-twitter:before{content:"\f099"}.fa-youtube:before{content:"\f167"}@@font-face{font-family:"Font Awesome 5 Brands";font-style:normal;font-weight:normal;font-display:auto;src:url(fonts/fa-brands-400.eot);src:url(fonts/fa-brands-400.eot#iefix) format("embedded-opentype"),url(fonts/fa-brands-400.woff2) format("woff2"),url(fonts/fa-brands-400.woff) format("woff"),url(fonts/fa-brands-400.ttf) format("truetype"),url(fonts/fa-brands-400.svg#fontawesome) format("svg")}.fab{font-family:"Font Awesome 5 Brands"}@@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;font-display:auto;src:url(fonts/fa-regular-400.eot);src:url(fonts/fa-regular-400.eot#iefix) format("embedded-opentype"),url(fonts/fa-regular-400.woff2) format("woff2"),url(fonts/fa-regular-400.woff) format("woff"),url(fonts/fa-regular-400.ttf) format("truetype"),url(fonts/fa-regular-400.svg#fontawesome) format("svg")}@@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:auto;src:url(fonts/fa-solid-900.eot);src:url(fonts/fa-solid-900.eot#iefix) format("embedded-opentype"),url(fonts/fa-solid-900.woff2) format("woff2"),url(fonts/fa-solid-900.woff) format("woff"),url(fonts/fa-solid-900.ttf) format("truetype"),url(fonts/fa-solid-900.svg#fontawesome) format("svg")}.fas{font-family:"Font Awesome 5 Free"}.fas{font-weight:900}a{color:#DD4800}body{float:left;width:100%;padding:0;margin:0;font-family:"Raleway",sans-serif;background:#fff;vertical-align:baseline;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-rendering:optimizeLegibility!important;-webkit-font-smoothing:antialiased!important;-moz-osx-font-smoothing:grayscale;line-height:1.5}.post-meta-data{float:left;width:100%;text-transform:uppercase;font-family:"Poppins",sans-serif}.post-meta-data .posted-by{float:left;font-size:12px;line-height:18px;font-weight:500;color:#fff;opacity:.8;margin-right:10px}.post-meta-data .posted-by.black{color:#AEAEAE;opacity:1}.post-meta-data .meta-links{float:left;font-size:12px;line-height:18px;font-weight:500;letter-spacing:.5px;color:#fff}.post-meta-data .meta-links.placeright{float:right}@@media (max-width:995px) and (min-width:768px){.post-meta-data .meta-links.placeright{display:none}}@@media (max-width:767px){.post-meta-data .meta-links.placeright{display:none}}@@media (max-width:480px){.post-meta-data .meta-links.placeright{display:none}}.post-meta-data .meta-links.black{color:#9e9e9e}.post-meta-data .meta-links.author{margin-right:20px;text-decoration:none;border-bottom:2px solid #fff}.post-meta-data .meta-links.author.redlink{color:#FF3737;border-bottom:0 none}.height-sizer{position:relative;float:left;width:100%;background-color:#000;opacity:0.3;z-index:500}.latest-blog-post .latest-post-start .left-side-post .image-of-left img,.full-image-slider .full-slider-start .item .image-pack img{position:absolute;left:0;top:0;height:100%;width:100%;object-fit:cover;transform:scale(1)}.latest-blog-post .latest-post-start .left-side-post .content-start a h2,.latest-blog-post .latest-post-start .right-side-post-start .count-only-post .post-main-conta a h2{overflow:hidden!important;text-overflow:ellipsis!important;display:-webkit-box!important;-webkit-line-clamp:2!important;-webkit-box-orient:vertical}.tag-block{float:left;font-weight:500;margin-bottom:10px;background:rgba(0,0,0,0.54);color:#fff;padding:5px 10px;font-size:12px;font-family:"Poppins",sans-serif;letter-spacing:.5px;text-transform:uppercase}.main-title{float:left;width:100%;margin-bottom:30px}.main-title .left-side-text{float:left;display:grid}.main-title .left-side-text h2{float:left;font-family:"Poppins",sans-serif;font-size:18px;margin:0;letter-spacing:.5px;color:#3a3a3a;font-weight:300}.main-title .left-side-text h2 .first-class{float:left;margin-right:10px;position:relative;font-weight:500;z-index:50}.main-title .left-side-text h2 .first-class:before{content:'';width:100%;position:absolute;height:7px;z-index:-1;left:0;bottom:3px;background-color:#34d77a}.main-title .post-counter{float:right;font-family:"Poppins",sans-serif;color:#A5A5A5;border-radius:3px;font-size:12px;font-weight:600;text-transform:uppercase;letter-spacing:1px;border:1px solid #ededed;padding:10px 15px;margin:0}.main-title .post-counter a{line-height:14px;color:#6f6f6f}.main-page-builder{float:left;width:100%}.flip-book{width:0px;height:0px;position:absolute;left:0px;bottom:0px;z-index:1000;overflow:hidden;background:#DD4800}.flip-book:before{position:absolute;display:block;content:"";width:100%;height:100%;left:0px;top:0px;transform:rotate(135deg) translateX(70%) scale(1.4);background:#fff}.elementor-inner{float:left;width:100%}span.screen-reader-text{display:none}.header-logo-side a{text-decoration:none;color:#0838D8}.latest-blog-post{float:left;width:100%;margin-bottom:40px}.latest-blog-post .latest-post-start{float:left;width:100%}.latest-blog-post .latest-post-start .left-side-post{float:left;width:400px;margin-right:35px}@@media (max-width:767px){.latest-blog-post .latest-post-start .left-side-post{width:100%;margin-right:0;margin-bottom:30px}}@@media (max-width:995px) and (min-width:768px){.latest-blog-post .latest-post-start .left-side-post{width:100%;margin-right:0;margin-bottom:30px}}.latest-blog-post .latest-post-start .left-side-post .image-of-left{float:left;width:100%;position:relative;overflow:hidden}.latest-blog-post .latest-post-start .left-side-post .image-of-left .height-sizer{padding-top:56%;background-color:#000;opacity:0.3;z-index:500}.latest-blog-post .latest-post-start .left-side-post .image-of-left .tag-block{position:absolute;left:20px;z-index:999;top:20px}.latest-blog-post .latest-post-start .left-side-post .content-start{float:left;width:100%}.latest-blog-post .latest-post-start .left-side-post .content-start .post-meta-data{float:left;margin-top:15px;margin-bottom:10px}.latest-blog-post .latest-post-start .left-side-post .content-start a h2{float:left;width:100%;font-size:18px;color:#000;font-weight:500;font-family:"Poppins",sans-serif;margin:0;margin-bottom:15px;letter-spacing:.5px}.latest-blog-post .latest-post-start .left-side-post .content-start .post-con-start{float:left;width:100%;margin:0;font-family:"Raleway",sans-serif;font-size:14px;letter-spacing:.5px;color:#959595}.latest-blog-post .latest-post-start .right-side-post-start{float:left;width:calc(100% - 440px);margin-bottom:15px;padding-bottom:15px;border-bottom:1px solid #ededed}.latest-blog-post .latest-post-start .right-side-post-start:last-child{margin-bottom:0;padding-bottom:0;border-bottom:0 none}@@media (max-width:995px) and (min-width:768px){.latest-blog-post .latest-post-start .right-side-post-start{width:100%}}@@media (max-width:767px){.latest-blog-post .latest-post-start .right-side-post-start{width:100%}}.latest-blog-post .latest-post-start .right-side-post-start .count-only-post{float:left;width:100%;margin-bottom:20px}.latest-blog-post .latest-post-start .right-side-post-start .count-only-post:last-child{margin-bottom:0}.latest-blog-post .latest-post-start .right-side-post-start .count-only-post .post-count{float:left;width:40px;margin-right:20px;font-weight:600;font-size:35px;font-family:"Poppins",sans-serif;font-style:italic;color:#AEAEAE}.latest-blog-post .latest-post-start .right-side-post-start .count-only-post .post-main-conta{float:left;width:calc(100% - 60px)}.latest-blog-post .latest-post-start .right-side-post-start .count-only-post .post-main-conta .post-meta-data{margin-bottom:10px}.latest-blog-post .latest-post-start .right-side-post-start .count-only-post .post-main-conta a h2{float:left;width:100%;font-size:14px;color:#000;font-weight:500;font-family:"Poppins",sans-serif;margin:0;letter-spacing:.5px}.full-image-slider .full-slider-start{float:left;width:100%}.full-image-slider .full-slider-start .item{float:left;width:100%;position:relative;overflow:hidden}.full-image-slider .full-slider-start .item .image-pack{float:left;width:100%;position:relative;overflow:hidden}.full-image-slider .full-slider-start .item .image-pack .height-sizer{padding-top:56%;opacity:.5}@@media (max-width:767px){.full-image-slider .full-slider-start .item .image-pack .height-sizer{padding-top:95%!important}}.full-image-slider .full-slider-start .item .image-pack img{transform:scale(1)}.full-image-slider .full-slider-start .item .image-pack .middle-content-slider{position:absolute;z-index:500;left:0;bottom:0;padding:40px;text-align:center}.full-image-slider .full-slider-start .item .image-pack .middle-content-slider .post-meta-data{width:fit-content;width:-moz-fit-content;float:none;display:block;margin:0 auto}.full-image-slider .full-slider-start .item .image-pack .middle-content-slider h2{float:left;width:100%;margin:10px 0;text-align:center;font-size:40px;color:#fff;letter-spacing:.5px;font-family:"Poppins",sans-serif;text-decoration:none}@@media (max-width:995px) and (min-width:768px){.full-image-slider .full-slider-start .item .image-pack .middle-content-slider h2{font-size:20px}}@@media (max-width:767px){.full-image-slider .full-slider-start .item .image-pack .middle-content-slider h2{font-size:14px}}.full-image-slider .full-slider-start .item .image-pack .middle-content-slider .post-content-slider{float:left;width:100%;font-size:16px;color:#fbfbfb;padding:0 40px;font-family:"Raleway",sans-serif}@@media (max-width:767px){.full-image-slider .full-slider-start .item .image-pack .middle-content-slider .post-content-slider{display:none}}.instagram-full-feed{float:left;width:100%}.instagram-full-feed .intagram-start{float:left;width:100%}h2{margin:30px 0;font-weight:500}.main-page-builder{float:left;width:100%}.main-page-builder .post-content{margin:0}.container{max-width:1140px;width:100%}.post-content{float:left;width:100%}input{padding:8px;border-radius:5px;color:#000;border:1px solid #ededed;background:#fff}.custom-category-collection{float:left;width:100%}.custom-category-collection .category-start{float:left;width:100%}.custom-category-collection .category-start .category-set{float:left;width:100%;position:relative;overflow:hidden;border-radius:3px;margin-bottom:30px}.custom-category-collection .category-start .category-set:last-child{margin-bottom:0}.custom-category-collection .category-start .category-set img{position:absolute;top:0;left:0;object-fit:cover;width:100%}.custom-category-collection .category-start .category-set .contentsiaty{float:left;width:100%;padding:30px 15px;position:relative;z-index:150;background:rgba(0,0,0,0.2)}.custom-category-collection .category-start .category-set .contentsiaty .sets{float:left;width:calc(100% - 50px)}.custom-category-collection .category-start .category-set .contentsiaty .sets h2{float:left;width:100%;font-size:20px;font-family:"Poppins",sans-serif;color:#fff;text-decoration:none;margin:0;letter-spacing:1px}.custom-category-collection .category-start .category-set .contentsiaty .sets span{float:left;width:100%;letter-spacing:1px;color:#fff;text-decoration:none;font-size:12px;opacity:.6;font-family:"Raleway",sans-serif;font-weight:300}.custom-category-collection .category-start .category-set .contentsiaty .spm-count{float:right;width:40px;height:40px;text-align:center;color:#fff;background:rgba(0,0,0,0.388235);border-radius:50px;line-height:40px;font-weight:500;font-size:12px}.mobile-menu-burger{float:left;line-height:50px;padding:0 15px;height:47px;position:relative}.mobile-menu-burger i{font-size:24px;color:#5C5C5C;position:relative;z-index:500;display:block;line-height:50px;float:left;width:fit-content;width:-moz-fit-content}.mobile-menu-section .mobile-menu-ss .side-place-for-social{float:left;width:75px;border-right:1px solid #ededed;height:100%;text-align:center}.mobile-menu-section .mobile-menu-ss .side-place-for-social .menu-social-side ul{width:100%!important}.mobile-menu-section .mobile-menu-ss .side-place-for-social .menu-social-side ul li{line-height:75px;text-align:center;padding:0;list-style:none}.mobile-menu-section .mobile-menu-ss .side-place-for-social .menu-social-side ul li a{float:left;width:100%;transform:translate(0,0) rotate(90deg);line-height:60px!important;font-size:22px}.mobile-menu-section .mobile-menu-ss .side-place-for-social .menu-social-side ul li a:before{display:none}.mobile-menu-section .mobile-menu-ss .side-place-for-social .menu-social-side ul li:last-child a:before{display:none!important}.search-box-mobile-menu .search-field{width:calc(100% - 35px);float:left}p.single-text-rotate{transform:translate(-100px,-180px) rotate(-90deg);height:0;margin:0;position:absolute;left:0;bottom:0;text-align:left;font-weight:500;font-size:14px;letter-spacing:5px;color:#5C5C5C;text-transform:uppercase}.mobile-menu-section{position:fixed;left:0;top:0;width:0%;height:100vh;z-index:999999;visibility:hidden;opacity:0}.mobile-menu-section .closing-area{position:absolute;left:0;top:0;height:100vh;width:0%;background:rgba(0,0,0,0.54)}.mobile-menu-section .mobile-menu-header{padding:15px 20px;background:#fff;border-bottom:1px solid #ededed;width:0%;max-width:400px;display:flow-root;z-index:500;position:relative;visibility:hidden;opacity:0}.mobile-menu-section .mobile-menu-header i{float:right;font-size:20px;top:17px;position:absolute;right:10px;color:#DD4800;padding:7px 10px;border-radius:3px}.mobile-menu-section .mobile-menu-header input.search-submit{display:none}.mobile-menu-section .mobile-menu-ss{height:calc(100vh - 51px);float:left;width:0%;max-width:400px;background:#fff;padding:20px 0px;overflow-x:auto;z-index:500;visibility:hidden;opacity:0}.mobile-menu-section .mobile-menu-ss ul{float:left;width:100%;padding:0;margin:0;display:block!important;visibility:visible!important}.mobile-menu-section .mobile-menu-ss ul li{float:left;width:100%;padding:10px 20px;list-style:none;position:relative;border-bottom:1px solid #ededed!important}.mobile-menu-section .mobile-menu-ss ul li .sub-menu li{padding-right:0}.mobile-menu-section .mobile-menu-ss ul li:last-child{border-bottom:0 none!important}.mobile-menu-section .mobile-menu-ss ul li:last-child a:before{display:block!important}.mobile-menu-section .mobile-menu-ss ul li:before{display:none}.mobile-menu-section .mobile-menu-ss ul li a{font-weight:500;font-family:"Poppins",sans-serif;color:rgba(0,0,0,0.54)!important;text-decoration:none;letter-spacing:.5px;font-size:14px;float:left;text-transform:uppercase;width:calc(100% - 20px);padding:0;line-height:28px!important}.mobile-menu-section .mobile-menu-ss ul li a:before{content:"";float:left;width:10px;height:10px;margin-right:10px;background:#ededed;margin-top:8px;border-radius:50px}.mobile-menu-section .mobile-menu-ss ul li:last-child{border-bottom:0 none}.mobile-menu-section .mobile-menu-ss ul li .sub-menu{width:90%;float:right;display:none!important;margin-top:10px;padding-top:0;left:0!important;top:0!important;position:relative!important;box-shadow:none!important;opacity:1!important;background:#fff!important;-webkit-box-shadow:none!important}.mobile-menu-section .mobile-menu-ss ul li .sub-menu li a{font-weight:500;font-size:14px;color:rgba(0,0,0,0.54)!important;width:100%}@@media (max-width:767px){.menu-side{display:none}}@@media (max-width:995px) and (min-width:768px){.menu-side{display:none}}.menu-side ul{float:left;width:100%;margin:0;padding:0}@@media (max-width:767px){.menu-side ul{display:none}}.menu-side ul li{list-style:none;float:left;position:relative;margin-right:30px}.menu-side ul li:last-child{margin-right:0}.menu-side ul li:before{content:"";width:0%}.menu-side ul li .sub-menu{position:absolute;left:0;top:45px;width:280px;background:#fff;z-index:300;opacity:0;visibility:hidden;-webkit-box-shadow:0 4px 12px 0 rgba(0,0,0,0.05)!important;box-shadow:0 4px 12px 0 rgba(0,0,0,0.05)!important;height:0;overflow:hidden}.menu-side ul li .sub-menu li{width:100%;float:left;border-bottom:1px solid #ededed;position:relative}.menu-side ul li .sub-menu li a{color:rgba(0,0,0,0.54);padding:15px}.menu-side ul li:last-child{margin-right:0}.menu-side ul li:last-child a:before{display:none}.menu-side ul li a{float:left;width:100%;font-size:13px;font-weight:500;text-decoration:none;color:#949494;letter-spacing:.5px;font-family:"Poppins",sans-serif;text-transform:uppercase;padding:15px 0}#main-mobile-menusc ul{float:left;width:calc(100% - 75px)}#main-mobile-menusc ul.sub-menu{width:100%}.post-with-pageviews .full-slider-start{float:left;width:100%}.post-with-pageviews .text-only-post-set{float:left;width:100%;position:relative;margin-bottom:30px}.post-with-pageviews .text-only-post-set .conter-section{float:left;width:100%;text-align:left;font-family:"Poppins",sans-serif;font-size:80px;font-style:italic;font-weight:600;color:#AEAEAE;line-height:80px}.post-with-pageviews .text-only-post-set .side-count-text{float:left;position:relative;height:120px;width:25px}.post-with-pageviews .text-only-post-set .side-count-text .side-posted-date{float:left;transform:translate(-48px,49px) rotate(-90deg);margin:0;width:120px;line-height:20px;font-size:12px;letter-spacing:1px;color:#fff;padding:1px 0;max-height:30px;font-weight:500;text-transform:uppercase;background:rgba(0,0,0,0.54);overflow:hidden;text-align:center}.post-with-pageviews .text-only-post-set .text-setion-mid-white{float:left;width:calc(100% - 25px);padding:15px;background:#fff;z-index:150;position:relative;margin-top:-30px}.post-with-pageviews .text-only-post-set .text-setion-mid-white h2{float:left;width:100%;font-family:"Poppins",sans-serif;font-size:18px;color:#000;margin:0;margin-bottom:15px}.post-with-pageviews .text-only-post-set .text-setion-mid-white .post-content-text-slider{float:left;width:100%;margin:0;font-size:14px;letter-spacing:1px;color:#6f6f6f;font-family:"Raleway",sans-serif}.post-with-pageviews .text-only-post-set .text-setion-mid-white .more-text{float:left;margin-top:15px;font-weight:500;font-family:"Poppins",sans-serif;text-decoration:none;font-size:14px;color:#959595}@@media (max-width:767px){.post-counter{display:none}}.header-style-three{float:left;width:100%;padding-top:40px;box-shadow:0 1px 8px #0000001a}.header-style-three .header-logo-side{float:left;width:auto;max-width:270px;margin:20px 0}@@media (max-width:1150px) and (min-width:992px){.header-style-three .header-logo-side{margin:0 0 20px 0}}@@media (max-width:995px) and (min-width:768px){.header-style-three .header-logo-side{margin:0 auto;display:block;float:none}}@@media (max-width:767px){.header-style-three .header-logo-side{margin:0 auto;display:block;float:none}}.header-style-three .header-logo-side img{float:left;width:100%}.header-style-three .right-side-ads{float:right;width:calc(100% - 300px)}@@media (max-width:767px){.header-style-three .right-side-ads{display:none}}.header-style-three .right-side-ads img{float:left;width:100%}.header-style-three .last-section{float:left;width:100%;margin-top:30px}.header-style-three .last-section .main-menu-placement{float:left;width:100%}.header-style-three .last-section .main-menu-placement .mobile-menu-burger{display:none}.header-style-three .last-section .main-menu-placement .mobile-menu-burger i{color:#000}@@media (max-width:767px){.header-style-three .last-section .main-menu-placement .mobile-menu-burger{display:block}}@@media (max-width:995px) and (min-width:768px){.header-style-three .last-section .main-menu-placement .mobile-menu-burger{display:block}}.header-style-three .last-section .main-menu-placement .menu-side{float:left}.header-style-three .last-section .main-menu-placement .menu-side ul li{position:relative}.header-style-three .last-section .main-menu-placement .menu-side ul li a{color:#353535;font-weight:600}.header-style-three .last-section .main-menu-placement .menu-side ul li .sub-menu{top:50px}.header-style-three .last-section .main-menu-placement .menu-side ul li .sub-menu li a{color:rgba(0,0,0,0.54)}.header-style-three .last-section .main-menu-placement .menu-side ul li .sub-menu li a:before{display:none}.header-style-three .last-section .menu-social-side{float:right}.header-style-three .last-section .menu-social-side ul{margin:0;padding:0;float:right}.header-style-three .last-section .menu-social-side ul li{float:left;list-style:none;margin-right:20px}.header-style-three .last-section .menu-social-side ul li:last-child{margin-right:0}.header-style-three .last-section .menu-social-side ul li a{text-decoration:none;color:rgba(0,0,0,0.54);font-weight:500;font-size:18px;letter-spacing:.5px;line-height:45px;font-family:"Poppins",sans-serif;text-transform:uppercase}.dark-content-area{float:left;width:100%;padding:0;margin-bottom:20px}.dark-content-area .daki-slider-pack{float:left;position:relative;width:100%}.dark-content-area .daki-slider-pack .owl-carousel{float:left;width:100%;position:relative}.dark-content-area .daki-slider-pack .top-content{float:left;width:100%;position:relative;overflow:hidden}.dark-content-area .daki-slider-pack .top-content .height-sizer{padding-top:120%;opacity:.4;z-index:100}@@media (max-width:767px){.dark-content-area .daki-slider-pack .top-content .height-sizer{padding-top:95%!important}}.dark-content-area .daki-slider-pack .top-content img{left:0;top:0;width:100%;height:100%;z-index:10;object-fit:cover;position:absolute;transform:scale(1)}.dark-content-area .daki-slider-pack .top-content .top-tag{background-color:#DD4800;padding:5px 10px;font-weight:500;font-family:"Poppins",sans-serif;color:#fff;letter-spacing:.5px;position:absolute;left:20px;top:20px;z-index:150;text-transform:uppercase;font-size:13px}.dark-content-area .daki-slider-pack .top-content .post-content{float:left;position:absolute;bottom:0;padding:20px;width:100%;left:0;z-index:200}.dark-content-area .daki-slider-pack .top-content .post-content h2{float:left;width:100%;font-size:22px;color:#fff;text-align:left;margin:0;font-family:"Poppins",sans-serif;margin-bottom:10px;margin-top:5px;letter-spacing:1px;font-weight:500}header.header-style-three .container{max-width:1170px}.main-title.style-three{border-bottom:2px solid #ededed;margin-bottom:0}.main-title.style-three .left-side-text h2{font-size:14px;font-family:"Poppins",sans-serif}.main-title.style-three .left-side-text h2 .first-class:before{bottom:-11px;height:2px}.main-title.style-three span.post-counter.style-three{padding:5px;border:0 none;font-size:12px}.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{padding:10px}@@media (max-width:767px){.elementor-column{width:100%}}.screen-reader-text{position:absolute;top:-10000em;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}.elementor{-webkit-hyphens:manual;-ms-hyphens:manual;hyphens:manual}.elementor *,.elementor :after,.elementor :before{-webkit-box-sizing:border-box;box-sizing:border-box}.elementor a{-webkit-box-shadow:none;box-shadow:none;text-decoration:none}.elementor img{height:auto;max-width:100%;border:none;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none}:root{--page-title-display:block}.elementor-section{position:relative}.elementor-section .elementor-container{display:-webkit-box;display:-ms-flexbox;display:flex;margin-right:auto;margin-left:auto;position:relative}@@media (max-width:1024px){.elementor-section .elementor-container{-ms-flex-wrap:wrap;flex-wrap:wrap}}.elementor-section.elementor-section-boxed>.elementor-container{max-width:1140px}.elementor-row{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex}@@media (max-width:1024px){.elementor-row{-ms-flex-wrap:wrap;flex-wrap:wrap}}.elementor-widget-wrap{position:relative;width:100%;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-line-pack:start;align-content:flex-start}.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap{display:-webkit-box;display:-ms-flexbox;display:flex}.elementor-widget-wrap>.elementor-element{width:100%}.elementor-widget{position:relative}.elementor-widget:not(:last-child){margin-bottom:20px}.elementor-column{min-height:1px}.elementor-column,.elementor-column-wrap{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex}.elementor-column-wrap{width:100%}@@media (min-width:768px){.elementor-column.elementor-col-33{width:33.333%}.elementor-column.elementor-col-66{width:66.666%}.elementor-column.elementor-col-100{width:100%}}@@media (max-width:767px){.elementor-column{width:100%}}.elementor-3574 .elementor-element.elementor-element-1b18af3>.elementor-element-populated{padding:0px 0px 0px 0px}.elementor-3574 .elementor-element.elementor-element-abe2bda .dark-content-area .daki-slider-pack .top-content .height-sizer{padding-top:140%}.elementor-3574 .elementor-element.elementor-element-bcd7cfa>.elementor-container{max-width:1140px}.elementor-3574 .elementor-element.elementor-element-2ba5ab3>.elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 20px 0px 0px}.elementor-3574 .elementor-element.elementor-element-5c70a41 .main-title .left-side-text h2{color:#2A2A2A}.elementor-3574 .elementor-element.elementor-element-5c70a41 .main-title .left-side-text h2 .first-class:before{background-color:#34d77a}.elementor-3574 .elementor-element.elementor-element-5c70a41 .main-title.style-three{border-color:#E1E1E1}.elementor-3574 .elementor-element.elementor-element-5c70a41 .main-title .post-counter{border-color:#EDEDED}.elementor-3574 .elementor-element.elementor-element-5c70a41>.elementor-widget-container{margin:20px 0px 20px 0px;padding:0px 0px 0px 0px}.elementor-3574 .elementor-element.elementor-element-b047a17 .latest-blog-post .latest-post-start .left-side-post .image-of-left .height-sizer{padding-top:70%}.elementor-3574 .elementor-element.elementor-element-8344b03 .full-image-slider .full-slider-start .item .image-pack .height-sizer{padding-top:50%}.elementor-3574 .elementor-element.elementor-element-93f4d60>.elementor-element-populated{padding:0px 0px 0px 20px}.elementor-3574 .elementor-element.elementor-element-69137c1 .main-title .left-side-text h2{color:#2A2A2A}.elementor-3574 .elementor-element.elementor-element-69137c1 .main-title .left-side-text h2 .first-class:before{background-color:#34d77a}.elementor-3574 .elementor-element.elementor-element-69137c1 .main-title.style-three{border-color:#E1E1E1}.elementor-3574 .elementor-element.elementor-element-69137c1 .main-title .post-counter{border-color:#EDEDED}.elementor-3574 .elementor-element.elementor-element-69137c1>.elementor-widget-container{margin:20px 0px 20px 0px;padding:0px 0px 0px 0px}.main-title .post-counter{border-color:#E6E6E6}.main-title .post-counter{border-color:#6D6D6D45}.elementor-kit-2228{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-f060b7c:#4054B2;--e-global-color-732395e4:#23A455;--e-global-color-31cbfedd:#000;--e-global-color-832314c:#FFF;--e-global-color-d79fe98:#D73434;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500}.elementor-section.elementor-section-boxed>.elementor-container{max-width:1140px}.elementor-widget:not(:last-child){margin-bottom:20px}@@media (max-width:1024px){.elementor-section.elementor-section-boxed>.elementor-container{max-width:1025px}}@@media (max-width:767px){.elementor-section.elementor-section-boxed>.elementor-container{max-width:768px}}.elementor-widget-custom-title-design .main-title .left-side-text h2{color:var(--e-global-color-primary)}.elementor-widget-custom-title-design .main-title .left-side-text h2 .first-class:before{background-color:var(--e-global-color-primary)}.elementor-widget-custom-title-design .main-title.style-three{border-color:var(--e-global-color-primary)}.elementor-widget-custom-title-design .main-title .post-counter{border-color:var(--e-global-color-primary)}.main-title .post-counter{border-color:var(--e-global-color-primary)}</style>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C500%2C700%7CRaleway%3A500%2C600%7CRoboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto%20Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&subset=latin%2Clatin-ext&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <meta name="robots" content="noindex,nofollow">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="alternate" type="application/rss+xml" title="Maganizer WordPress Theme &raquo; Feed" href="https://preview.spraythemes.com/maganizer/feed/">
    <link rel="alternate" type="application/rss+xml" title="Maganizer WordPress Theme &raquo; Comments Feed" href="https://preview.spraythemes.com/maganizer/comments/feed/">
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important
        }
    </style>
    <link rel="preload" id="wp-block-library-css" href="https://preview.spraythemes.com/maganizer/wp-includes/css/dist/block-library/style.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="wp-block-library-theme-css" href="https://preview.spraythemes.com/maganizer/wp-includes/css/dist/block-library/theme.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="wc-block-vendors-style-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style-696a07b27d826107c883ee13c3bf0f1d.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="wc-block-style-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style-619198ef5e47ed70e638b84c92e064f4.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="contact-form-7-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/contact-form-7/includes/css/styles-ec4e57bff0e835ef28b4c89cb1717afb.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="woocommerce-layout-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/woocommerce/assets/css/woocommerce-layout-cc005ffd959c6bb1743989183a963496.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="woocommerce-smallscreen-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/busting/1/maganizer/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen-5.0.0.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="only screen and (max-width: 768px)">
    <link data-minify="1" rel="preload" id="woocommerce-general-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/woocommerce/assets/css/woocommerce-cc40354525cf8823ccc9a7aae64db877.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <style id="woocommerce-inline-inline-css" type="text/css">
        .woocommerce form .form-row .required {
            visibility: visible
        }
    </style>
    <link data-minify="1" rel="preload" id="maganizer-style-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/themes/maganizer/style-bcc325fd19686fb7147f5ca545eac7b6.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="bootstrap-css" href="https://preview.spraythemes.com/maganizer/wp-content/themes/maganizer/css/bootstrap-grid.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="owl-carousel-css" href="https://preview.spraythemes.com/maganizer/wp-content/themes/maganizer/css/owl.carousel.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="font-awesome-four-css" href="https://preview.spraythemes.com/maganizer/wp-content/themes/maganizer/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="maganizer-blocks-main-style-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/themes/maganizer/css/wps_style-c4183db079b4e89a7a8d7a285e67dd35.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <script type="text/javascript" src="js/jquery.min-3.5.1.js" id="jquery-core-js"></script>
    <link rel="https://api.w.org/" href="https://preview.spraythemes.com/maganizer/wp-json/">
    <link rel="alternate" type="application/json" href="https://preview.spraythemes.com/maganizer/wp-json/wp/v2/pages/3571">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://preview.spraythemes.com/maganizer/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://preview.spraythemes.com/maganizer/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 5.6.2">
    <meta name="generator" content="WooCommerce 5.0.0">
    <link rel="canonical" href="https://preview.spraythemes.com/maganizer/magazine-4/">
    <link rel="shortlink" href="https://preview.spraythemes.com/maganizer/?p=3571">
    <style type="text/css">
        .ae_data .elementor-editor-element-setting {
            display: none !important
        }
    </style>
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important
            }
        </style>
    </noscript>
    <link rel="icon" href="images/cropped-01-progress-32x32.gif" sizes="32x32">
    <link rel="icon" href="images/cropped-01-progress-192x192.gif" sizes="192x192">
    <link rel="apple-touch-icon" href="images/cropped-01-progress-180x180.gif">
    <meta name="msapplication-TileImage" content="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/07/cropped-01-progress-270x270.gif">
    <script>
        /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
        (function (w) {
            "use strict"; if (!w.loadCSS) { w.loadCSS = function () { } }
            var rp = loadCSS.relpreload = {}; rp.support = (function () {
                var ret; try { ret = w.document.createElement("link").relList.supports("preload") } catch (e) { ret = !1 }
                return function () { return ret }
            })(); rp.bindMediaToggle = function (link) {
                var finalMedia = link.media || "all"; function enableStylesheet() { link.media = finalMedia }
                if (link.addEventListener) { link.addEventListener("load", enableStylesheet) } else if (link.attachEvent) { link.attachEvent("onload", enableStylesheet) }
                setTimeout(function () { link.rel = "stylesheet"; link.media = "only x" }); setTimeout(enableStylesheet, 3000)
            }; rp.poly = function () {
                if (rp.support()) { return }
                var links = w.document.getElementsByTagName("link"); for (var i = 0; i < links.length; i++) { var link = links[i]; if (link.rel === "preload" && link.getAttribute("as") === "style" && !link.getAttribute("data-loadcss")) { link.setAttribute("data-loadcss", !0); rp.bindMediaToggle(link) } }
            }; if (!rp.support()) { rp.poly(); var run = w.setInterval(rp.poly, 500); if (w.addEventListener) { w.addEventListener("load", function () { rp.poly(); w.clearInterval(run) }) } else if (w.attachEvent) { w.attachEvent("onload", function () { rp.poly(); w.clearInterval(run) }) } }
            if (typeof exports !== "undefined") { exports.loadCSS = loadCSS }
            else { w.loadCSS = loadCSS }
        }(typeof global !== "undefined" ? global : this))
    </script>
</head>

<body>
    <header class="main-header">
        <div class="very-top">
            <partial name="_NavBarInfo" />
        </div>
        <div class="top-layer">
            <div class="container">
                <div class="row">
                    <div class="col logo">
                        <a>
                            <img src="~/images/logo.svg"
                                 alt="Maganizer WordPress Theme">
                        </a>
                    </div>
                    <div class="header-search col-5">
                        <form role="search" method="get" class="search-form"
                              action="https://preview.spraythemes.com/maganizer/">
                            <label>
                                <span class="screen-reader-text">Search for:</span> <input type="search"
                                                                                           class="search-field" placeholder="Search &hellip;" value="" name="s" />
                            </label>
                            <input type="submit" class="search-submit" value="Search" />
                        </form>
                    </div>
                    @*<div class="col social-header-icons">
                            <ul>
                                <li class="no-margin-social">
                                    <a href="https://www.facebook.com">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="no-margin-social">
                                    <a href="http://twitter.com">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="no-margin-social">
                                    <a href="http://youtube.com">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="no-margin-social">
                                    <a href="http://instagram.com">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>*@
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="main-footer">
        <div data-elementor-type="wp-post" data-elementor-id="2649" class="elementor elementor-2649" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-f666deb elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f666deb" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-80f72fa" data-id="80f72fa" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-bef3c80 elementor-widget elementor-widget-logo-uploader" data-id="bef3c80" data-element_type="widget" data-widget_type="logo-uploader.default">
                                                <div class="elementor-widget-container">
                                                    <div class="logo-uploader">
                                                        <a asp-controller="Home" asp-action="Index">
                                                            <img src="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/12/white-1.svg" alt="Maganizer WordPress Theme">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-fa1ea8a elementor-widget elementor-widget-text-editor" data-id="fa1ea8a" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-text-editor elementor-clearfix">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-cd3c29e elementor-widget elementor-widget-shortcode" data-id="cd3c29e" data-element_type="widget" data-widget_type="shortcode.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-shortcode"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e8d6f71" data-id="e8d6f71" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-8d7c5ef elementor-widget elementor-widget-simple-post-list" data-id="8d7c5ef" data-element_type="widget" data-widget_type="simple-post-list.default">
                                                <div class="elementor-widget-container">
                                                    <div id="postspicks" class="simple-post-list">
                                                        <!--Post editor pick-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6ad88e3" data-id="6ad88e3" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-00ae696 elementor-widget elementor-widget-all_tag_list" data-id="00ae696" data-element_type="widget" data-widget_type="all_tag_list.default">
                                                <div class="elementor-widget-container">
                                                    <div id="tags" class="tags-cloud">
                                                        <!--Tags-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-credit-section">
        <div class="container">
            <div class="row">
                <div class="footer-bar-set">
                    <div class="left-section-text">
                        <div class="rules">
                            <p>
                                © 2020 <a href="https://preview.spraythemes.com/maganizer">Maganizer WordPress Theme</a>
                            </p>
                        </div>
                        <div class="rules">
                            <p>
                                Design And developed By <a href="https://spraythemes.com">
                                    WPSmart
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="right-side-social ">
                        <ul>
                            <li class="back-to-top" id="backtotop">
                                <i class="fa fa-angle-double-up"></i>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/envato">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/envato">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://youtube.com/envato">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://instagram.com/envato">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
    <script src="/js/jquery-ui.js" type="text/javascript"></script>
    <link href="/css/jquery-ui.css"
          rel="stylesheet" type="text/css" />
    <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    url: '@Url.Action("GetTags", "Footer")',
                    type: "GET",
                    dataType: 'html',
                    success: function (data) {
                        $('#tags').html(data);
                    }
                });

                $.ajax({
                    url: '@Url.Action("GetLatestTags", "Home")',
                    type: "GET",
                    dataType: 'html',
                    success: function (data) {
                        $('#latestTags').html(data);
                    }
                });

                $.ajax({
                    url: '@Url.Action("GetPostEditorPicks", "Footer")',
                    type: "GET",
                    dataType: 'html',
                    success: function (data) {
                        $('#postspicks').html(data);
                    }
                });


            });
    </script>
</body>



</html>
