@model Maganizer_Project.Models.MessagesFromUsersViewModel
@{
    Layout = "_AdminLayout";
    ViewData["Active"] = "Messages";
    ViewData["Title"] = "Messages from Users | Admin";
}

@if(Model.Messages.Count() == 0) 
{
    <p>No messages :(</p>
}

<ol class="bullet">
    @foreach (var x in Model.Messages)
    {
    <li>
        <p>
            Author - @x.AuthorName
        </p>
        <p>
            Subject - @x.Subject
        </p>
        <p>
            Sent - @x.SentOn.ToString("dddd, dd MMMM yyyy HH:mm:ss")
        </p>
        <p>
            Content: <br>
            @x.Content
        </p>
        
        
        <form asp-controller="Admin" asp-action="DeleteMessageFromUser" method="post">
            <p>
                <button type="submit" class="btn btn-danger">Delete</button>
            </p>
            <input hidden name="id" value="@x.Id" />

        </form>
        
        
    </li>
    }
</ol>